*.iml
.gradle
.idea
.DS_Store
/build
/debug
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
proguard/
.navigation/
captures/
*.jks
*.keystore
.externalNativeBuild
google-services.json